{% extends "base.html" %}
{% load i18n %}

{% block content %}
    {% if validlink %}
        <p>}{% translate 'Enter your new password and confirm it' %}</p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">{% translate 'Your new password' %}:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">{% translate 'Re-enter your new password' %</label>:</td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="{% translate 'Change password' %}" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>{% translate 'Failed to change password' %}</h1>
        <p>{% translate 'Your password reset link is invalid, probably becaused it was already used. Please request a new one.' %}</p>
    {% endif %}
{% endblock %}
