{% extends "generic.html" %}
{% load i18n %}

{% block subtitle %}{% translate 'Category list' %}{% endblock %}

{% load esami_extras %}

{% block content %}
  <h1>{% translate 'Category list' %}</h1>
  <div id="ops-bar">
    {% if request.user.is_authenticated %}
      <button class="button"><a href="{% url 'category-create' %}">{% translate 'Add' %}</a></button>
    {% endif %}
    <form method="GET" action="">
      <input type="search" name="search" value="{% get_item request.GET 'search' '' %}">
      <input type="submit" value="{% translate 'search' %}">
    </form>
  </div>
  {% if category_list %}
    <ul>
      {% for category in category_list %}
        <li class="list-item">
          <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
          {% if user.is_superuser %}
            {% load esami_extras %}
            {% update_icon category %}
            {% delete_icon category %}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>{% translate 'There are no categories.' %}</p>
  {% endif %} 
{% endblock %}
