{% extends "generic.html" %}
{% load i18n %}

{% block subtitle %}{% blocktranslate with category_name=category.name %}Category: {{ category_name }}{% endblocktranslate %}{% endblock %}
{% block content %}
  <header>
    <h1>{% blocktranslate with category_name=category.name %}Category: {{ category_name }}{% endblocktranslate %}</h1>
    {% if user.is_superuser %}
      {% load esami_extras %}
      {% update_icon category %}
      {% delete_icon category %}
    {% endif %}
  </header>

  {% if posts %}
    <h2>{% translate 'Posts' %}</h2>
    <ul>
      {% for post in posts %}
        <li>
          <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

{% endblock %}
