{% extends "generic.html" %}

{% block subtitle %}{{ comment.content|truncatechars:30 }}{% endblock %}

{% load esami_extras %}

{% block content %}
  <header>
    {% comment %}
        <!-- TODO -->
        {% if user == post.writer %}
            {% update_icon post %}
            {% delete_icon post %}
        {% endif %}
    {% endcomment %}
    <div id="post-info">
        <span>الكاتب: <a href="{{ post.writer.get_absolute_url }}">{{ comment.writer.get_username }}</a></span>
        <span>تاريخ النشر: {{ comment.created }}</span>
        {% if comment.parent_comment %}<span>ردًا على: <a href="{{ comment.parent_comment.get_absolute_url }}">{{ comment.parent_comment.content|truncatechars:30 }}</a></span>{% endif %}
        <span>منشور: <a href="{{ comment.post.get_absolute_url }}">{{ comment.post.title|truncatechars:30 }}</a></span>
    </div>
  </header>
  <article>
    {{ comment.content|markdown }}
  </article>

  <button class="button" id="comment-button"><a href="{% url 'comment-reply' comment.id %}">تعليق</a></button>
  {% include 'blog/comment_tree.html' %}

{% endblock %}
