{% load esami_extras %}
<article id="comment-tree">
    {% for padding, comment in comments %}
      <div class="comment" style="margin-right: {{ padding }}px;">
        <div style="margin-top: 20px;">
          <a href="{{ comment.writer.get_absolute_url }}">{{ comment.writer }}</a> |
          <a href="{{ comment.get_absolute_url }}">{{ comment.created }}</a>
        </div>
        <div style="margin-top: 5px">{{ comment.content|markdown }}</div>
        <div style="margin-top: 5px"><a href="{% url 'comment-reply' comment.id %}?next={{ request.path }}">رد</a></div>
      </div>
    {% endfor %}
</article>
