{% extends "generic.html" %}
{% load i18n %}
{% block subtitle %}{{ post.title }}{% endblock %}

{% block content %}
  {% load esami_extras %}
  <header>
    <h1>{{ post.title }}</h1>
    {% if user == post.writer %}
      {% update_icon post %}
      {% delete_icon post %}
    {% endif %}
    <div id="post-info">
      <span>{% translate 'author' %}: <a href="{{ post.writer.get_absolute_url }}">{{ post.writer.get_username }}</a></span>
      <span>{% translate 'publication date' %}: {{ post.created }}</span>
      {% if created_mod_delta.total_seconds >= 60 %}
        <span>{% translate 'last modification date' %}: {{ post.mod }}</span>
      {% endif %}
      {% comment %}FIXME: pluralize translation{% endcomment %}
      <span>{% blocktranslate with comment_count=comments|length %}{{ comment_count }} comment(s){% endblocktranslate %}</span>
      {% comment %}FIXME: translation {% endcomment %}
      {% category_list "<span>مواضيع:" post "</span>" %}
    </div>
  </header>
  <article>
    {{ post.content|markdown }}
  </article>

  <button class="button" id="comment-button"><a href="{% url 'comment-create' post.id %}">{% translate 'comment' %}</a></button>
  {% include 'blog/comment_tree.html' %}

{% endblock %}
