{% extends "generic.html" %}

{% block subtitle %}{{ post.title }}{% endblock %}

{% block content %}
  {% load esami_extras %}
  <header>
    <h1>{{ post.title }}</h1>
    {% if user == post.writer %}
      {% update_icon post %}
      {% delete_icon post %}
    {% endif %}
    <div>
      الكاتب: <a href="{{ post.writer.get_absolute_url }}">{{ post.writer.get_username }}</a> |
      تاريخ النشر: {{ post.created }}
      {% if post.created != post.mod %}
      | آخر تعديل: {{ post.mod }}
      {% endif %}
      {% category_list "| مواضيع:" post %}
    </div>
  </header>
  <article>
    {{ post.content }}
  </article>

  <button class="button" id="comment-button"><a href="{% url 'comment-create' post.id %}">تعليق</a></button>
  {% include 'blog/comment_tree.html' %}

{% endblock %}
