{% if post_list %}
{% load i18n %}
<table id="items-table">
  <thead>
    <tr>
      <th>{% translate 'title' %}</th>
      <th>{% translate 'author' %}</th>
      <th>{% translate 'publication date' %}</th>
      <th>{% translate 'comment count' %}</th>
      {% if request.user.is_authenticated %}<th></th>{% endif %}
    </tr>
  </thead>
  <tbody>
  {% for post in post_list %}
    <tr>
      <td><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></td>
      <td dir="ltr"><a href="{% url 'user-detail' post.writer.get_username %}">{{ post.writer.get_username }}</a></td>
      <td>{{ post.created }}</td>
      <td>{{ post.comments.all.count }}</td>
      {% if request.user.is_authenticated %}
        <td>
          {% if request.user == post.writer %}
            {% load esami_extras %}
            {% update_icon post %}
            {% delete_icon post %}
            {% endif %}
        </td>
      {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
  <p>{% translate 'There are no posts.' %}</p>
{% endif %}
