{% extends "generic.html" %}

{% block subtitle %}{{ post.title }}{% endblock %}

{% block content %}
  {% load esami_extras %}
  <header>
    <h1>{{ post.title }}</h1>
    {% if user == post.writer %}
      {% update_icon post %}
      {% delete_icon post %}
    {% endif %}
    <div id="post-info">
      <span>الكاتب: <a href="{{ post.writer.get_absolute_url }}">{{ post.writer.get_username }}</a></span>
      <span>تاريخ النشر: {{ post.created }}</span>
      {% if created_mod_delta.total_seconds >= 60 %}
        <span>آخر تعديل: {{ post.mod }}</span>
      {% endif %}
      <span>{{ comments|length }} تعليق</span>
      {% category_list "<span>مواضيع:" post "</span>" %}
    </div>
  </header>
  <article>
    {{ post.content|markdown }}
  </article>

  <button class="button" id="comment-button"><a href="{% url 'comment-create' post.id %}">تعليق</a></button>
  {% include 'blog/comment_tree.html' %}

{% endblock %}
