{% extends "generic.html" %}
{% load i18n %}

{% block subtitle %}{% translate 'Post list' %}{% endblock %}

{% load esami_extras %}

{% block content %}
  <h1>{% translate 'Post list' %}</h1>
  <div id="ops-bar">
    {% if request.user.is_authenticated %}
      <button class="button"><a href="{% url 'post-create' %}">{% translate 'post' context 'verb' %}</a></button>
    {% endif %}
    <form method="GET" action="">
      <input type="search" name="search" value="{% get_item request.GET 'search' '' %}">
      <input type="submit" value="{% translate 'search' %}">
    </form>
  </div>
  {% include "blog/post_table.html" %}
{% endblock %}
