{% extends "generic.html" %}
{% load i18n %}

{% block subtitle %}{% translate 'reply'|title %}{% endblock %}

{% block content %}
  <h1>{% blocktranslate with post_title=comment.post.title %}Reply to a comment in post "{{ post_title }}"{% endblocktranslate %}</h1>
  {% load esami_extras %}
  <div style="margin-bottom: 10px;">{{ comment.content|markdown }}</div>
  <form action="" method="post">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <input type="submit" value="{% translate 'reply' %}">
  </form>
{% endblock %}
