{% extends "generic.html" %}
{% load i18n %}

{% block subtitle %}{% translate 'user list' %}{% endblock %}

{% load esami_extras %}

{% block content %}
  <h1>{% translate 'user list' %}</h1>
  <div id="ops-bar">
    <form method="GET" action="">
      <input type="search" name="search" value="{% get_item request.GET 'search' '' %}">
      <input type="submit" value="{% translate 'search' %}">
    </form>
  </div>
  {% if user_list %}
  <table id="items-table">
    <thead>
      <tr>
        <th>{% translate 'username'|title %}</th>
        <th>{% translate 'full name'|title %}</th>
        <th>{% translate 'date joined'|title %}</th>
      </tr>
    </thead>
    <tbody>
    {% for user in user_list %}
      <tr>
        <td><a href="{{ user.get_absolute_url }}">{{ user.get_username }}</a></td>
        <td>{{ user.get_full_name }}</td>
        <td>{{ user.date_joined }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p>{% translate 'There are no users.' %}</p>
  {% endif %} 
{% endblock %}
