{% extends 'generic.html' %}
{% load i18n %}

{% block subtitle %}{% translate 'user' %}: {{ user.get_username }}{% endblock %}

{% block content %}
    <header>
        <h1>{% translate 'user' %}: {{ user.get_username }}</h1>
        {% if request.user == user %}
            {% load esami_extras %}
            {% user_update_icon user %}
            {% comment %} {% user_delete_icon user %} {% endcomment %}
        {% endif %}
    </header>
    {% load static %}
    <img class="profile-picture" alt="profile picture" src="{% if user.profile_picture %}{{ user.profile_picture.url }}{% else %}{% static 'images/default-profile-picture.jpg' %}{% endif %}" wdith="150" height="100">
    <table style="margin: 0px auto;">
        <tbody>
            <tr>
                <th>{% translate 'username' %}:</th>
                <td>{{ user.get_username }}</td>
            </tr>
            <tr>
                <th>{% translate 'name' %}:</th>
                <td>{{ user.get_full_name }}</td>
            </tr>
            <tr>
                <th>{% translate 'bio' %}:</th>
                <td>{% if user.bio %}{{ user.bio }}{% endif %}</td>
            </tr>
        </tbody>
    </table>
    <h2>{% blocktranslate with username=user.get_username %}{{ username }}'s posts{% endblocktranslate %}</h2>
    {% include "blog/post_table.html" %}
{% endblock %}
